body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-tile {
    height: 32px;
    width: 32px; 
    background-color: transparent;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-tile:hover {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.2; 
      }
      to {
        opacity: 1; 
      }
}

.colum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 1.5rem;
    border: 2px solid black;
    background-color: skyblue;
    margin: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.pop-up-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    width: 400px;
    height: 275px;
    text-align: center;
    z-index: 1;
    border: 4px solid black;
}

.pop-up-window p {
    font-size: 24px;
    font-weight: 700;
    margin: 8px;
    margin-top: 16px;
}

.pop-up-window span {
    font-size: 24px;
    font-weight: 700;
}

.grid-size-button {
    background-color: grey;
    border: 2px solid black;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    width: 4rem;
    font-weight: 600;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.checkbox-label{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.checkbox {
    margin: 4px;
}
